.btn {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: rgb(33, 133, 208);
    color: rgb(255, 255, 255);
    margin: 0 .5em 0 0;
    padding: .78571429em 1.5em .78571429em;
    text-transform: none;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: .28571429rem;
    transition: background 0.3s, opacity 0.3s,;
}

.btn[disabled] {
    background: rgba(34, 36, 38, 0.3);
}

input[type="text"] {
    margin: 0 .5em;
    max-width: 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    outline: 0;
    text-align: left;
    line-height: 1.21428571em;
    padding: .67857143em 1em;
    background: #fff;
    border: 1px solid rgba(34,36,38,.4);
    color: rgba(0,0,0,.87);
    border-radius: .28571429rem;
}

input[disabled] {
    opacity: .65;
    background: rgba(34, 36, 38, 0.09);
}

.draw-panel {
    padding: 15px;
    background: #f5f5f5;
    border: 1px solid #ececec;
    margin: 0 0 20px;
}

.draw-panel__wrapper {
    margin: 0 auto;
    width: 960px;
}

.draw-block {
    width: 960px;
    height: 400px;
    border: 1px solid #000;
    margin: auto;
}

#drawArea {
    width: 100%;
    height: 100%;
}

#drawArea {
    overflow: hidden;
    position: relative;
}

#drawArea .ball {
    position: absolute;
    border-radius: 50%;
    animation: showBall 1s;
}

@keyframes showBall {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}